/**
 * BASE
 */
* {
  box-sizing: border-box;
  font-family: 'Fira Mono', monospace;
}

html {
  font-size: 18px;
  color: white;
}

body {
  background: linear-gradient(45deg, #1CB5E0 0%, #000851 100%);
  min-height: 100vh;
  padding: 5vh 5vw;
  overflow: hidden;
}

/**
  * WINDOW
  */
#window {
  width: 90vw;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

/**
  * TASKBAR
  */
#taskbar {
  min-height: 2rem;
  display: flex;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: center;
  line-height: 2;
  width: 100%;
}

#taskbar .buttons {
  position: absolute;
  top: 0.1rem;
  left: 1rem;
}

#taskbar .buttons div {
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
  border-radius: 9999px;
  display: inline-block;
  height: .75rem;
  margin-right: .15rem;
  width: .75rem;
}

#taskbar .buttons .close {
  background-color: rgba(245,101,101,1);
}

#taskbar .buttons .minimize {
  background-color: rgba(250,240,137,1);
}

#taskbar .buttons .maximize {
  background-color: rgba(104,211,145,1);
}

#taskbar .title {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}

/**
  * CONTENT
  */
#content {
  padding: 0.5rem;
  min-height: 1px; /* For simplebar to work */
}

/**
  * COMMAND
  */
#command {
  display: flex;
  flex-direction: row;
}

#command .prompt,
#command .lines {
  line-height: 1.4;
}

#command .prompt {
  color: rgb(187, 187, 187);
  margin-right: 0.5rem;
  margin-top: 2px;
}

#command .lines {
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
}